:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

header {
  padding: 8px;
  background-color: rgb(150, 76, 34);
  text-align: center;
}

header nav {
  padding: 8px;
}

header nav a {
  font-size: 1.5rem;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photoCard {
  margin: 5px 0;
  padding: 5px;
  width: 550px;
  height: 550px;
  color: black;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: rgb(22, 153, 44);
}

.photoCard img {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 370px;
  vertical-align: middle;
}

.photoCard button {
  display:inline-flex;
  background-color: rgb(255, 0, 106);
  color: white;
  border-radius: 20px;
}

.animalCard {
  margin: 5px 0;
  padding: 5px;
  width: 550px;
  height: 550px;
  color: black;
  border: 1px solid grey;
  border-radius: 12px;
  background-color: rgb(15, 119, 32);
}

.animalCard img {
  display: inline-flex;
  /* margin-left: auto;
  margin-right: auto; */
  width: 300px;
  height: 300px;
  vertical-align: middle;
}

.description {
  padding:10px;
  border: solid 1px black;
  background-color: rgb(33, 136, 52);
  border-radius: 20px;
  overflow-wrap:break-word;
  hyphens:auto;
}

.animalCard button {
  display:inline-flex;
  background-color: rgb(255, 0, 106);
  color: white;
  border-radius: 20px;
}

.filter{
  /* margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-left:43%;
  text-align:center;
  /* align-self:center;
  align-content: center;
  align-items: center; */
  width:fit-content;
  /* width:75px;
  max-width:100px; */
  background-color:magenta;
  border: 20px solid blueviolet;
}

.newPhotoForm{
  margin-left:30%;
  width: 700px;
  border: 5px solid royalblue;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

label {
  display: inline-block;
  width: 150px;
  text-align: right;
  text-align: top;
}

ul {
  margin:0px;
}

.submitButton {
  margin-left:45%;
}

textarea {
  vertical-align: top;
}


.description {
  padding:10px;
  border: solid 1px black;
  border-radius: 20px;
  overflow-wrap:break-word;
  hyphens:auto;
  background-color: rgb(33, 136, 52);
}

.edit {
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  text-align: top;
  vertical-align: top;
}

body { background: #222; color: white; }

.left, .right { width: 50%; float: left; }

.left  { text-align: right; }
.right { text-align: left;  }

span   { font-family: sans-serif; line-height: 20px; font-weight: bold;     }
input  { width: 200px;            height: 30px;      box-sizing:border-box; }
select { width: 200px;            height: 30px;      box-sizing:border-box; }

.goodAlert {
  padding: 20px;
  background-color: chartreuse;
  color: white;
  text-align: center;
}

.badAlert {
  padding: 20px;
  background-color: red;
  color: black;
  text-align: center;
}

.cardTitle {
  font-family:Impact, Haettenschweiler;
  font-weight:bold;
  margin-left:15px;
}

.listTitle {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight:bold;
  font-size:large;
}